*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image-container {
    width: 4000px;;
    height: 4000px;;
    overflow: hidden;
  }

 .image-container img{
    max-width:100%;
    max-height:100%;
  }