.container {
  position: relative;
  width: 100%;
  max-width: 1024px;
}
.map-image {
  width: 100%;
  height: auto;
}
.radio-button {
  position: absolute;
  transform: translate(-50%, -50%);
}
.radio-1 {
  top: 13.25%;
  left: 29%;
}
.radio-2 {
  top: 13.25%;
  left: 44%;
}
.radio-3 {
  top: 13.25%;
  left: 64.5%;
}
.radio-4 {
  top: 19%;
  left: 74%;
}
.radio-5 {
  top: 33.5%;
  left: 71%;
}

.radio-6 {
  top: 33%;
  left: 49.75%;
}

.radio-7 {
  top: 60%;
  left: 81.75%;
}

.radio-8 {
  top: 68.5%;
  left: 35%;
}

.radio-9 {
  top: 45%;
  left: 7%;
}

.radio-10 {
  top: 69.25%;
  left: 18%;
}
.radio-button {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.tooltip {
  font-size: 14px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 4px;
  max-width: 200px;
  word-wrap: break-word;
}
