.container {
    position: relative;
    width: 100%;
    max-width: 1024px;
  }
  .map-image {
    width: 100%;
    height: auto;
  }
  .radio-button {
    position: absolute;
    transform: translate(-50%, -50%);
  }
  .radio-1 {
    top: 15.5%;
    left: 29%;
  }
  .radio-2 {
    top: 15.5%;
    left: 44%;
  }
  .radio-3{
    top: 15.5%;
    left: 64.5%;
  }
  .radio-4{
    top: 22%;
    left: 74%;
  }
  .radio-5{
    top: 39%;
    left: 71%;
  }
  .radio-6{
    top: 39%;
    left: 49.75%;
  }
  .radio-7{
    top: 70%;
    left: 81.75%;
  }
  .radio-8{
    top: 80.25%;
    left: 35%;
  }
  .radio-9{
    top: 53%;
    left: 7%;
  }
  .radio-10{
    top: 81%;
    left: 18%;
  }
  
